body {
    background-color: lightblue;
}

.userid {
    margin-top: 50px;
}

.userid h6 {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.userid h6 a {
    margin-right: 20px;
}

#About {
    background-color: #e2edff;
}

.footer {
    background-color: #e2edff;
    border-top: 6px solid rgb(141, 195, 226);
}

/* * {
    padding: 0;
    margin: 0;
    font-family: arial;
} */

a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}
.header {
    width: 100%;
    background-image: url("latar.jpg");
    background-size: cover;
}

.container-isi {
    padding-top: 2rem;
}

.footer__grid {
    padding: 32px 0 52px;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -13px;
    margin-right: -13px;
}

.nav--column {
    flex-direction: column;
    width: 100%;
}

/* .nav {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
} */

.nav--column .nav__item {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.footer-nav {
    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.column-3 {
    -ms-flex: 0.25;
    flex: 0 0 25%;
    max-width: 25%;
}

.sosial {
    margin: auto;
    float: right;
}

.nav-icon img {
    height: 25px;
    width: 25px;
    padding: 2px;
}

.logo {
    width: 300px;
    height: 100px;
}
.isi-situs {
    background: #edf3f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #929292;
}

.navigasibar {
    font-size: 12px;
    font-weight: bold;
    min-height: 40px;
    background-color: lightblue;
    width: 100%;
}

.navigasibar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: #777;
}

.navigasibar .nav > li > a {
    padding: 10px 12px 5px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

a.menu:after,
.dropdown-toggle:after {
    content: none;
}

.citizen {
    width: 103%;
    background: #fff;
    border: 1px solid #c2c2c2;
    height: 496px;
}

.citizen .judul {
    background: #f3f3f3;
    color: #257233;
    margin: 0;
    border-bottom: 3px solid #666;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #b8b8b8;
}

.citizen .content {
    background: #f1efff;
    color: #333;
    margin: 5px;
    padding: 3px;
    box-shadow: 0 0 3px #7e7e7e;
}

.carousel {
    position: relative;
    padding: 5px;
}

.slide {
    background: #dee2e6;
    border: 1px solid #c2c2c2;
    height: 412px;
}
.iklan2 img {
    width: 300px;
    height: 255px;
}

.tabview {
    background: #78042e;
    padding: 5px;
    border-radius: 6px;
    width: 275px;
}

.nav-mostview {
    background: #78042e;
    margin-bottom: 0;
}

.tabview-content {
    background: #fff;
    padding: 5px;
    border-radius: 2px;
}

.iklan3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.judul-artikel-ticker {
    border-bottom: 1px #999 dotted;
}

.terbaru {
    width: 450px;
}

img.img-polaroid {
    float: left;
    padding-right: 10px;
}

.isi-terbaru p {
    padding-top: 6px;
}

.kriminal {
    background: #ffff;
    border: 5px #284a8a solid;
    border-radius: 8px;
}

.galeria {
    background: linear-gradient(
        to bottom,
        rgba(242, 245, 246, 1) 0%,
        rgba(227, 234, 237, 1) 37%,
        rgba(200, 215, 220, 1) 100%
    );
    border: 1px solid #c5c5c5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.galeria .content {
    padding: 5px;
    align-content: center;
}
.berita-baru {
    padding: 6px;
    color: #757272;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 3px solid red;
}

.berita-baru2 {
    padding: 4px;
    color: #173875;
    border-bottom: 3px red solid;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #b6b6b6;
}

.konten-terbaru {
    padding: 0 10px 10px 10px;
    overflow: hidden;
}

.isi-terbaru {
    border-bottom: 1px #999 dotted;
    padding-bottom: 10px;
}

/* page admin */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
}
.sidebar {
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
}
.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
}
ul li:hover a {
    padding-left: 50px;
}
.sidebar ul a i {
    margin-right: 16px;
}
#check {
    display: none;
}
label #btn,
label #cancel {
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
}
label #btn {
    left: 250px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}
label #cancel {
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
    left: -250px;
}
#check:checked ~ label #btn {
    left: 40px;
    opacity: 1;
    pointer-events: auto;
}
#check:checked ~ label #cancel {
    left: -195px;
}
#check:checked ~ section {
    margin-left: 0px;
}
section {
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5s;
    margin-left: -250px;
}
/* akhir page admin */


