body {
    min-height: 2000px;
}

#About {
    background-color: #e2edff;
}

.footer {
    padding-top: 0rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    border-top: 6px solid red;
    background-color: #94b5eb;
}
